/*** GLOBAL  ***/body {
	font-family: Verdana, Arial;
	font-size: 11px;
	margin: 0 auto;
	padding: 0;
	color: #565656;
	line-height: 20px;
	background: url(../images/stripes2.png) repeat;
}
* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none; /* removes ugly dotted border  */
}
.clear {
	clear: both;
	float: none!important;
}
form {
	margin: 0;
	padding: 0;
}

input[type=text], textarea {
	margin: 4px 8px 8px 0px;
	padding: 8px;
	color: #999999;
	vertical-align: middle;
	font-size: 11px;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}/*** END OF GLOBAL  ***//*** DEFAULT ELEMENT STYLES ***//* heading */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #353535;
	font-family: Arial, Verdana;
}
h1, h2, h3 {
	margin-bottom: 7px;
}
h4, h5, h6 {
	margin-bottom: 15px;
}
h1 {
	font-size: 24px;
	line-height: 30px;
        font-weight: normal !important;
}
h2 {
	font-size: 17px;
	line-height: 22px;
}
h4 {
	font-size: 20px;
	line-height: 22px;
}
h5 {
	font-size: 18px;
	line-height: 20px;
}
h6 {
	font-size: 16px;
	line-height: 18px;
}/* links */
a, a:visited {
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none
}/* float align */
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone, img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {
	margin-bottom: 10px;
}/* lists, blockquotes and paragraphs */
p {
	margin-bottom:0px;
}
body p:last-child {
	margin-bottom: 0;
}
/* code */

.nomargin {
	margin: 0px!important;
}/*** END OF DEFAULT ELEMENT STYLES ***//*** CONTAINER ***/
.topbar_banner {
	width: 100%;
}
.topbar_lan_social {
	width: 100%;
	background: none repeat scroll 0 0 #0E3055;
	height: 40px;
	clear: both;
}
.banner {
	width: 100%;
	background: #1c5fa2;
	padding: 20px 0px;
	clear: both;
	overflow: hidden;
}
.banner_wrapper {
	width: 960px;
	margin: 0 auto;
}
.topbar_wrapper {
	width: 940px;
	padding: 0px 20px;
	margin: 0 auto;
	overflow: hidden;
}
.top_language {
	width: 200px;
	float: left;
	display: inline-block;
	padding: 8px 0px;
}
.top_bar_col {
	width: 188px;
	float: left;
	margin-right: 20px;
	padding: 8px 0px;
}
.last_col {
	float: right;
	margin-right: 15px;
}
.language span {
	color: #fff;
	font-size: 14px;
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.language img {
	float: left;
	display: inline-block;
	margin-right: 5px;
}
.branding_left ul {
	float: right;
	display: inline-block;
	overflow: hidden;
}
.branding_left li {
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.branding_left li a {
	float: left;
}
.icons {
	width: 24px;
	height: 24px;
	background: url(../images/social-icons.png) no-repeat;
	text-indent: -99999px;
	display: inline-block;
	float: left;
}
.soundcloud {
	background-position: 0px 0px !important;
}
.youtube {
	background-position: -27px 0px !important;
}
.google_plus {
	background-position: -54px 0px !important;
}
.facebook {
	background-position: -81px 0px !important;
}
.twitter {
	background-position: -107px 0px !important;
}
.linkedin {
	background-position: -134px 0px !important;
}
.icons:hover {
	opacity: 0.5;
}
#wrapper-top {
	width: 100%;
	height: 40px;
	border-bottom: 5px solid #fff600;
	background: #0e3055 url(../images/wrapper_top_back.png) repeat-x;
	position: relative;
	z-index: 100
}
#wrapper-header {
	width: 100%;
	height: 356px;
	clear: both
}
#wrapper-header-inner {
	width: 100%;
	height: 50px;
	clear: both
}
#wrapper-header-shadowline {
	width: 100%;
	background-position: top;
	background-repeat: repeat-x;
}
#wrapper-content {
	width: 100%;
	padding-top: 10px;
	margin-top: -12px;
	background-image: url(../images/shadow_content.gif);
	background-position: top;
	background-repeat: repeat-x;
	padding-bottom: 20px
}
#wrapper-shadow-line-bottom {
	width: 100%;
	background-image: url(../images/shadow_content_bottom.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	height: 30px
}
#wrapper-footer {
	width: 100%;
	border-top: solid 1px #fff
}
#wrapper-footer-shadowline {
	width: 100%;
	background-image: url(../images/shadow_line.png);
	background-position: top;
	background-repeat: repeat-x;
}
#top-container {
	width: 960px;
	margin: 0 auto;
	z-index: 20;
	position: relative
}
#header-slider {
	height: 355px;
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
	background-image: url(../images/slider_shadow.png);
	background-position: bottom;
	background-repeat: no-repeat;
	z-index: 10;
}
#header-slider-default {
	height: 405px;
	width: 940px;
	margin: 0 auto;
	z-index: 10;
}
#content-container-default {
	width: 940px;
	margin: 0 auto;
	padding: 70px 0 0 0
}
#content-container {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0 0 0
}
#content-container-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 auto;
	padding: 10px;
	width: 920px;
	margin-top: 20px;
}
#header-inner {
	width: 940px;
	margin: 0 auto;
	padding: 0 0 0 0
}
#footer-container {
	width: 930px;
	margin: 0 auto;
	color: #fff;
	padding: 50px 0
}
#footer-copyright {
	background-image: url(../images/opacity.png);
	color: #fff;
	text-align: center;
	height: 95px;
	padding: 20px 0
}
#slider-container {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.18);
	border: 1px solid #000000;
	float: right;
	height: 280px;
	margin-right: 20px;
	padding: 8px;
	position: relative;
	width: 500px;
}
#slider-container img {
	height: 280px;
	width: 500px;
	overflow: hidden;
}/*** END OF CONTAINER ***/
.tagline {
	clear: both;
	margin: 20px 0px 27px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #c4c4c4;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}
.tagline {
	width: 910px;
	padding: 20px;
}
.tagline h2 {
	font-size: 30px;
	text-align: center;
	color: #195aaa;
	display: block;
}
.tagline p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0;
	text-align: center;
}
.icon_title {
	padding-left: 39px;
	background: #0e3055 url(../images/title_back.png) no-repeat left;
	height: 30px;
	display: block;
	color: #1e59c6;
	font-weight: bold;
	color: #fff !important;
	font-size: 16px !important;
	line-height: 30px !important;
}
.icon_title2 {
	padding-left: 39px;
	background: #0e3055 url(../images/title_back.png) no-repeat left;
	height: 30px;
	display: block;
	color: #1e59c6;
	font-weight: bold;
	color: #fff !important;
	font-size: 16px !important;
	line-height: 30px !important;
	margin-bottom: 15px;
}
.icon_title2 h3 {
}
.intractive_img {
	margin-top: 10px;
	width: 295px;
}
.intractive_img img {
}
.secondary-block {
	width: 960px;
	clear: both;
}
.fb-likebox {
	width: 279px;
	float: right;
}
.full-block {
	width: 930px;
	margin: 0 auto;
	background: url(../images/ful-round-mid.png) repeat-y;
}
.block-top {
	background: url(../images/full-round.png) no-repeat left top;
}
.block-bot {
	background: url(../images/full-round.png) no-repeat right bottom;
}
.block-con {
	padding: 0px 12px 20px 12px;
	width: auto;
	overflow: hidden;
	background: #ffffff;
	border: #e0e0e0 1px solid;
}
.blog-post {
	width: 230px;
	float: left;
}
.blog-post h2 {
	background: url(../images/blog-icon.png) no-repeat left center;
	padding: 15px 50px;
	font-size: 20px;
	font-weight: normal;
}
.blog-post p {
	font-size: 11px;
}
.block-mid {
	width: 330px;
	float: left;
}
.block-mid img {
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	border: #CCC 2px solid;
}
.block-mid p {
	font-size: 11px;
}
.block-divider {
	width: 2px;
	float: left;
	margin: 0 20px;
}
.partners {
	width: 960px;
	height: 125px;
	margin-top: -12px;
}
.featured-block {
	width: 295px;
	float: left;
	min-height: 387px;
}
.featured-block:nth-child(2n) {
	margin-right: 0px;
}
.featured-block li {
	clear: both;
	list-style: none;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CCC;
}
.featured-block li:last-child {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.block-left {
	width: 80px;
	float: left;
}
.block-left img {
	padding: 5px;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.25);
	width: 85px;
	height: 70px;
	margin-bottom: 15px;
}
.block-right {
	width: 185px;
	float: right;
}
.featured-block h2 {
	font-weight: normal;
	margin-bottom: 10px;
}/*** TOP ***/
#top-right {
	width: 100%;
}/*** NAVIGATION ***/
#topnav, #topnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	z-index: 99999;
}
#topnav a {
	display: block;
	padding: 9px 0 10px 0;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}
#topnav ul li a {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0);
}
#topnav a:hover, #topnav a.active {
	color: #ffcc00;
}
#topnav li {
	float: left;
	position: relative;
	font-size: 14px;
	margin: 0px 15px;
}
#topnav li a:hover {
	border-bottom: 3px solid #febf01;
	padding: 9px 0 7px 0;
}
#topnav li li a:hover {
	border-bottom: none;
	padding: 10px 15px 5px 15px;
	border-bottom: 5px solid #febf01;
}
#topnav li li {
	padding-right: 0px;
	text-transform: capitalize;
	line-height: 25px;
	padding: 0px 0px;
	background-image: none;
	margin-left: 0;
}
#topnav li li:last-child {
	border-bottom: 0;
}
#topnav ul {
	position: absolute;
	display: none;
	width: 230px;
	top: 38px;
	left: 0px;
	background-color: #fff;
	padding: 0;
	border: solid 1px #edeceb;
	border-width: 1px;
	text-align: left;
}
#topnav li ul a {
	width: 200px;
	margin: 0 0px;
	padding: 10px 15px;
	line-height: normal;
	font-size: 14px;
	color: #777777
}
#topnav li ul a:hover {
	color: #777777;
	background-color: #e6e6e6;
}
#topnav ul ul {
	top: -1px;
}
#topnav li ul ul {
	left: 230px;
	margin: 0px 0 0 0px;
}
#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul {
	display: none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul {
	display: block;
}/*** CONTENT ***/
#content {
	width: 585px;
	padding: 0 30px 0 0;
	float: left;
}
#sidecontent {
	width: 300px;
	float: left;
	background-image: url(../images/shadow_right.png);
	background-position: top left;
	background-repeat: no-repeat
}
#sidebar {
	padding-left: 30px;
	min-height: 654px;
}
#content.positionright {
	padding: 0 0 0 30px;
}
#sidecontent.positionleft {
	background-image: url(../images/shadow_left.png);
	background-position: top right;
	background-repeat: no-repeat
}
#sidecontent.positionleft #sidebar {
	padding: 0 30px 0 0;
}
#content.widecolumn {
	width: 730px;
	padding: 0 30px 0 0;
	float: left;
}
#sidecontent.narrowcolumn {
	width: 180px;
	float: left;
	background-image: url(../images/shadow_right.png);
	background-position: top left;
	background-repeat: no-repeat
}
#content.widecolumn.positionright {
	padding: 0 0 0 30px;
}
#sidecontent.narrowcolumn.positionleft {
	background-image: url(../images/shadow_left.png);
	background-position: top right;
	background-repeat: no-repeat
}
#content-bottom {
	border: solid 1px #e1e1e1;
	border-width: 1px 0px;
	padding: 20px 0;
	margin-top: 50px;
}
#content-bottom span {
	overflow: hidden;
}
small {
	font-style: italic;
	font-size: 12px;
}
.subnavigation a, .subnavigation a:visited {
	color: #fff;
}
.subnavigation a:hover {
	color: #ebecec
}
.backtop {
	text-align: right;
	float: right
}/* IMAGE STYLING*/
.imgframe {
	border: solid 2px #fff;
}
.imgframe2 {
	border: solid 1px #dcdcdc;
	padding: 2px
}/* BUTTON*/
.more, .more:visited, .button, .button:hover, .button:visited {
	color: #fff;
	font-size: 13px;
	text-decoration: none
}
.more:hover, .button:hover {
	color: #fff;
	text-decoration: none
}
.more, .button {
	color: #ffffff;
	padding: 0px 30px;
	height: 30px;
	line-height: 26px;
	display: inline-block;
	-moz-box-shadow: 0px 0px 8px #8c8c8c;
	-webkit-box-shadow: 0px 0px 8px #8c8c8c;
	box-shadow: 0px 0px 8px #8c8c8c;
	font-size: 13px;
}
.more2{
        color: #ffffff;
	padding: 0px 11px;
	line-height: 26px;
	display: inline-block;
	background: #f9c667; /* Old browsers */
background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
        text-decoration: none;
	font-size: 12px;
        border: 1px solid #f79621 ;
        font-weight: bold;
        text-shadow: 0 1px 0 #777777;
        margin-top: 10px;
        
}
.more2:hover{
    background: #ff670f; /* Old browsers */
background: -moz-linear-gradient(top,  #ff670f 0%, #ff670f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff670f), color-stop(100%,#ff670f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff670f 0%,#ff670f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
text-decoration: none;
color: #fff;
}
.more.small, .button.small {
	padding: 0px 20px;
	height: 25px;
	line-height: 20px;
	font-size: 11px;
}
.more.large, .button.large {
	padding: 0px 40px;
	height: 40px;
	line-height: 36px;
	font-size: 20px;
}
.button2 {
	background: #4a4a4a;
	background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#4a4a4a));
	background: -moz-linear-gradient(top, #727272, #4a4a4a);
	background: -o-linear-gradient(top, #727272, #4a4a4a);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#4a4a4a');
	border: 0;
	padding: 8px 20px;
	color: #fff;
	border-radius: 5px;
}/* PREDIFENED BUTTON*//* blue */
.button.blue {
	border: solid 1px #15273a;
	background: #0d2e51;
	background: -webkit-gradient(linear, left top, left bottom, from(#124d8d), to(#0d2e51));
	background: -moz-linear-gradient(top, #124d8d, #0d2e51);
	background: -o-linear-gradient(top, #124d8d, #0d2e51);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#124d8d', endColorstr='#0d2e51');
}
.button.blue:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#0d2e51), to(#124d8d));
	background: -moz-linear-gradient(top, #0d2e51, #124d8d );
	background: -o-linear-gradient(top, #0d2e51, #124d8d);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2e51', endColorstr='#124d8d');
}/* TESTIMONIALS */
.ts-thinkbox-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.ts-thinkbox-list li {
	clear: both;
	margin-bottom: 40px;
}
.ts-thinkbox-thumb {
	float: left;
}
.ts-thinkbox-quote {
	font-style: italic;
	background-image: url(../images/quote.png);
	background-repeat: no-repeat;
	margin-left: 130px;
	padding: 10px 0 0 40px
}
.ts-thinkbox-name {
	color: #999999;
}
.ts-thinkbox-2 .ts-thinkbox-quote {
	margin-left: 0;
}/* SIDERIGHT & WIDGET */
#sidebar .widget-title {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
#sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	list-style-position: outside
}
#sidebar ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 11px;
}
#sidebar ul li li {
	background: url(../images/arrow.png) no-repeat 0 5px;
	padding: 0 0 8px 16px;
	margin-bottom: 8px;
	border-bottom: solid 1px #ebebeb
}
#sidebar ul li a, #sidebar ul li a:visited, .widget-container ul li a {
	color: #565656;
	font-size: 16px;
        font-family: Corbel;
}
#sidebar ul li a:hover, .widget-container ul li a:hover {
	color: #9e9d9d;
	text-decoration: none;
}
#sidebar ul.children {
	margin-top: 5px;
}
#sidebar ul.children li {
	border: 0;
	padding-bottom: 2px;
	margin-bottom: 2px;
}
li#popularpost ul li {
	border-bottom: 0;
	background: none;
	padding-left: 0;
	clear: left
}
.widget-container {
	margin-bottom: 40px !important;
	list-style-type: none
}
.widget-title {
}/* FOOTER */
#footer-container a, #footer-container a:visited {
	color: #fff;
}
#footer-container a:hover {
	text-decoration: underline;
}
#footer-container h1, #footer-container h2, #footer-container h3, #footer-container h4, #footer-container h5, #footer-container h6 {
	color: #fff;
}
#footer-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#footer-container ul li li {
	list-style-type: none;
	padding: 4px 0;
	margin: 0;
	clear: both
}
#footer-container .widget-title {
	font-size: 20px;
}
#footer-container .widget-container {
	margin-bottom: 20px !important;
}
#footer-container .widget-container:last-child {
	margin-bottom: 0px !important;
}/* Social */
#sn {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 25px 0 0 0;
}
#sn li {
	list-style-type: none;
	margin: 0;
	padding: 0 5px 0 0px!important;
	display: inline;
	background: transparent
}
#sn span {
	height: 26px;
	width: 26px;
	display: inline;
	display: inline-block
}
.icon-img {
	background-position: 0 0;
}
.icon-img:hover {
	background-position: 0 -26px !important;
}/* COLUMN */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	margin-right: 2%;
	position: relative;
	float: left;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.6666%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.8%;
}
.one_sixth {
	width: 13.3333%;
}
.two_third {
	width: 67%;
}
.two_fourth {
	width: 48%;
}
.two_fifth {
	width: 37.6%;
}
.two_sixth {
	width: 30.6666%;
}
.three_fourth {
	width: 74%;
}
.three_fifth {
	width: 58.4%;
}
.three_sixth {
	width: 47.9998%;
}
.four_fifth {
	width: 79.2%;
}
.four_sixth {
	width: 67%;
}
.five_sixth {
	width: 82.6665%;
}
.last {
	margin-right: 0 !important;
	clear: right;
}/* DROPCAPS */
	/* BULLETED LIST */
	/* STYLED BOX */

.footernav {
	width: 940px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
        position: relative;
        z-index: 200;
}
.footernav li a {
	font-size: 12px;
}
.cp_text {
	width: 320px;
	height: 31px;
	background: url(../images/pencil_icon.png) no-repeat bottom;
	margin: 0 auto;
	padding-top: 10px;
}
.cp_text span {
	padding-top: 12px;
	display: block;
}
.share-logo {
	width: 686px;
	height: 95px;
	float: left;
	display: inline-block;
	margin-left: 20px;
}
.nivo-caption h2 {
	font-family: arial !important;
	font-weight: bold !important;
	font-size: 20px !important;
	color: #fff !important;
	display: block !important;
}
.project_button {
	width: 139px;
	height: 48px;
	float: right;
	display: block;
	margin-top: 7px;
	background: url(../images/project_button.png) no-repeat;
	text-indent: -99999px;
}
.project_button:hover {
	opacity: .8;
}
.text_field_style {
	padding: 7px 5px !important;
	background: #fff !important;
	border: 1px solid #063266 !important;
}
.text_field {
	width: 70% !important;
}
.text_field_area {
	width: 93% !important;
	height: 60px !important;
}
.send_button_footer {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #febf01;
	border: 1px solid #fff;
	cursor: pointer;
	padding: 5px 10px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
	font-size: 16px;
	font-weight: bold;
}
.send_button_footer:hover {
	opacity: .8;
}
.like_box_facebook {
	width: 280px;
	height: 655px;
}
span.wpcf7-not-valid-tip {
	background: none !important;
	border: none !important;
	left: 80% !important;
	top: -270% !important;
	color: #fb1414 !important;
}
.footernav ul li ul {
	display: none !important;
}
.main_body {
	width: 960px;
	margin: 5px auto;
	padding: 10px;/*    border: 1px solid #124d8d;*/
	overflow: hidden;
}
.main_body_inner {
	background: #0e2f52;
	width: 960px;
}
.read_more3 {
	background: #ffe400;
	padding: 3px;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.read_more3:hover {
	background: #081c94;
	color: #fff;
	text-decoration: none;
}
.sponsor {
	padding: 8px 20px;
	background: #fff;
}
.sponsor ul {
	display: block;
	overflow: hidden;
}
.sponsor ul li {
	width: 80px;
	float: left;
	list-style: none;
	margin: 0px 35px;
}
.sidebar_inner {
	padding-left: 0px;
}
.featured-block {
	margin-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px
}
.page-item-2 {
	display: none;
}
.flag{
    width: 100px;
    background: url(../images/flag.png) no-repeat left;
    height: 30px;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-left: 250px;
}
.pagecontent img{
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #0033ff;
    float: right;
    margin-left: 15px;
    
}
h3 strong {
   margin-bottom: 0px;
}
.entry-content-right{
    width: 120px;
    float: right;
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
}
.entry-content-right img{
    border: 1px solid #081c94;
}
.entry-content-left{
    width: 435px;
    float: left;
}
.entry-content-right h6{
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px dotted #fff;
    padding-bottom: 8px;
}
.entry-content-right h6 span{
    display: block;
    color: #fffc00;
}
#contactform label{
    display: block;
    width: 100%;
}
.forthcoming{
    width: 200px;
    padding: 10px;
    background: #1c5fa2;
    margin-right: 15px;
    float: left;
    margin-bottom: 13px;
    
}
.forthcoming h5{
    font-weight: bold;
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 8px;
}
.forthcoming h5, .forthcoming a{
    color: #fff;
}
.forthcoming h5 span{
    display: block;
    color: #fffc00;
}
#contact label p{
    display: block;
    margin-bottom: 8px !important;
}
.pagecontent ul.page-list li a{
    font-size: 16px;
}
.children{
    padding-left: 30px
}
#qtranslate-chooser li.lang-bn{
display:none !important;
}